In [27]:
# Digital Equity

In [217]:
import pandas as pd
import numpy as np

In [218]:
course_enrollment = pd.read_csv('initial_data/CS Course Enrollment 2018.csv')

In [219]:
course_enrollment

,School Code,District,School Name,# STUDENTS ENROLLED,# STUDENTS ENROLLED PRIOR TO SECONDARY LEVEL,# STUDENTS ENROLLED AT SECONDARY LEVEL
0,10015,Abington,Woodsdale Elementary School,2,2,0
1,10020,Abington,Beaver Brook Elementary,3,3,0
2,10405,Abington,Abington Middle School,348,348,0
3,10505,Abington,Abington High,25,0,25
4,30025,Acushnet,Acushnet Elementary School,105,105,0
...,...,...,...,...,...,...
1224,35130305,New Heights Charter School of Brockton (District),New Heights Charter School of Brockton,14,11,3
1225,35140305,Libertas Academy Charter School (District),Libertas Academy Charter School,70,70,0
1226,39010900,Greenfield Commonwealth Virtual District,Greenfield Commonwealth Virtual School,21,9,12
1227,39020900,TEC Connections Academy Commonwealth Virtual S...,TEC Connections Academy Commonwealth Virtual S...,681,521,160
1228,0,Massachusetts,Massachusetts,235211,199273,36137

In [220]:
course_enrollment = course_enrollment.drop(columns=["# STUDENTS ENROLLED PRIOR TO SECONDARY LEVEL", "# STUDENTS ENROLLED AT SECONDARY LEVEL"])

In [221]:
course_enrollment.dtypes

School Code              int64
District                object
School Name             object
# STUDENTS ENROLLED      int64
dtype: object

In [222]:
course_enrollment

,School Code,District,School Name,# STUDENTS ENROLLED
0,10015,Abington,Woodsdale Elementary School,2
1,10020,Abington,Beaver Brook Elementary,3
2,10405,Abington,Abington Middle School,348
3,10505,Abington,Abington High,25
4,30025,Acushnet,Acushnet Elementary School,105
...,...,...,...,...
1224,35130305,New Heights Charter School of Brockton (District),New Heights Charter School of Brockton,14
1225,35140305,Libertas Academy Charter School (District),Libertas Academy Charter School,70
1226,39010900,Greenfield Commonwealth Virtual District,Greenfield Commonwealth Virtual School,21
1227,39020900,TEC Connections Academy Commonwealth Virtual S...,TEC Connections Academy Commonwealth Virtual S...,681
1228,0,Massachusetts,Massachusetts,235211

In [223]:
demographic = pd.read_csv('initial_data/AP CS Gender Ethnicity 2018.csv')

In [224]:
demographic

,ORG_CODE,School Code,DIST_NAME,SCH_NAME,STUDENTS_ENROLLED,AA,AS,HI,MR,NA,NH_PI,WH,EcoDis,SWD,ELL,FEMALE,MALE,NONBINARY
0,9,90505,Andover,Andover High,39,1,17,0,1,0,0,20,1,2,0,6,33,0
1,10,100505,Arlington,Arlington High,17,0,6,0,0,0,0,11,0,1,0,2,15,0
2,14,140505,Ashland,Ashland High,26,0,6,0,0,0,0,20,0,1,0,9,17,0
3,16,160505,Attleboro,Attleboro High,17,1,0,0,2,0,0,14,1,0,0,3,14,0
4,17,170505,Auburn,Auburn Senior High,10,0,1,0,0,0,0,9,0,0,0,2,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,818,8180605,Franklin County Regional Vocational Technical,Franklin County Technical,6,0,0,1,0,0,0,5,4,2,0,2,4,0
133,828,8280605,Greater Lowell Regional Vocational Technical,Gr Lowell Regional Vocational Technical,26,0,3,4,2,0,0,17,9,2,0,6,20,0
134,829,8290605,South Middlesex Regional Vocational Technical,Joseph P Keefe Technical High School,14,1,0,4,0,0,0,9,4,3,0,2,12,0
135,3506,35060505,Pioneer Charter School of Science II (PCSS-II)...,Pioneer Charter School of Science II (PCSS-II),5,,,,,,,,,,,,,
136,0,0,Massachusetts,Massachusetts,2629,162,488,168,81,4,2,1667,281,82,13,679,1893,0

In [225]:
demographic.dtypes

ORG_CODE              int64
School Code           int64
DIST_NAME            object
SCH_NAME             object
STUDENTS_ENROLLED     int64
AA                   object
AS                   object
HI                   object
MR                   object
NA                   object
NH_PI                object
WH                   object
EcoDis               object
SWD                  object
ELL                  object
FEMALE               object
MALE                 object
NONBINARY            object
dtype: object

In [226]:
demographic = demographic.drop(columns=['DIST_NAME', 'SCH_NAME'])

In [227]:
demographic

,ORG_CODE,School Code,STUDENTS_ENROLLED,AA,AS,HI,MR,NA,NH_PI,WH,EcoDis,SWD,ELL,FEMALE,MALE,NONBINARY
0,9,90505,39,1,17,0,1,0,0,20,1,2,0,6,33,0
1,10,100505,17,0,6,0,0,0,0,11,0,1,0,2,15,0
2,14,140505,26,0,6,0,0,0,0,20,0,1,0,9,17,0
3,16,160505,17,1,0,0,2,0,0,14,1,0,0,3,14,0
4,17,170505,10,0,1,0,0,0,0,9,0,0,0,2,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,818,8180605,6,0,0,1,0,0,0,5,4,2,0,2,4,0
133,828,8280605,26,0,3,4,2,0,0,17,9,2,0,6,20,0
134,829,8290605,14,1,0,4,0,0,0,9,4,3,0,2,12,0
135,3506,35060505,5,,,,,,,,,,,,,
136,0,0,2629,162,488,168,81,4,2,1667,281,82,13,679,1893,0

In [228]:
demographic["AA"] = pd.to_numeric(demographic["AA"], errors='coerce')
demographic["AS"] = pd.to_numeric(demographic["AS"], errors='coerce')
demographic["HI"] = pd.to_numeric(demographic["HI"], errors='coerce')
demographic["MR"] = pd.to_numeric(demographic["MR"], errors='coerce')
demographic["NA"] = pd.to_numeric(demographic["NA"], errors='coerce')
demographic["NH_PI"] = pd.to_numeric(demographic["NH_PI"], errors='coerce')
demographic["WH"] = pd.to_numeric(demographic["WH"], errors='coerce')
demographic["EcoDis"] = pd.to_numeric(demographic["EcoDis"], errors='coerce')
demographic["SWD"] = pd.to_numeric(demographic["SWD"], errors='coerce')
demographic["ELL"] = pd.to_numeric(demographic["ELL"], errors='coerce')
demographic["FEMALE"] = pd.to_numeric(demographic["FEMALE"], errors='coerce')
demographic["MALE"] = pd.to_numeric(demographic["MALE"], errors='coerce')
demographic["NONBINARY"] = pd.to_numeric(demographic["NONBINARY"], errors='coerce')

In [229]:
demographic["AA"] = demographic["AA"].astype("Int64")
demographic["AS"] = demographic["AS"].astype("Int64")
demographic["HI"] = demographic["HI"].astype("Int64")
demographic["MR"] = demographic["MR"].astype("Int64")
demographic["NA"] = demographic["NA"].astype("Int64")
demographic["NH_PI"] = demographic["NH_PI"].astype("Int64")
demographic["WH"] = demographic["WH"].astype("Int64")
demographic["EcoDis"] = demographic["EcoDis"].astype("Int64")
demographic["SWD"] = demographic["SWD"].astype("Int64")
demographic["ELL"] = demographic["ELL"].astype("Int64")
demographic["FEMALE"] = demographic["FEMALE"].astype("Int64")
demographic["MALE"] = demographic["MALE"].astype("Int64")
demographic["NONBINARY"] = demographic["NONBINARY"].astype("Int64")

In [230]:
demographic.dtypes

ORG_CODE             int64
School Code          int64
STUDENTS_ENROLLED    int64
AA                   Int64
AS                   Int64
HI                   Int64
MR                   Int64
NA                   Int64
NH_PI                Int64
WH                   Int64
EcoDis               Int64
SWD                  Int64
ELL                  Int64
FEMALE               Int64
MALE                 Int64
NONBINARY            Int64
dtype: object

In [231]:
scores = pd.read_csv('initial_data/ap_performance-2018.csv')

In [232]:
scores

,School Name,School Code,Tests Taken,Score=1,Score=2,Score=3,Score=4,Score=5,% Score 1-2,% Score 3-5
0,Abington - Abington High,10505,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Acton-Boxborough - Acton-Boxborough Regional High,6000505,70,0.0,1.0,16.0,19.0,34.0,1.4,98.6
2,Advanced Math and Science Academy Charter (Dis...,4300305,36,0.0,0.0,5.0,13.0,18.0,0.0,100.0
3,Andover - Andover High,90505,21,0.0,1.0,2.0,2.0,16.0,4.8,95.2
4,Arlington - Arlington High,100505,18,0.0,0.0,2.0,3.0,13.0,0.0,100.0
...,...,...,...,...,...,...,...,...,...,...
143,Winthrop - Winthrop High School,3460505,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,Worcester - Doherty Memorial High,3480512,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,Worcester - North High,3480515,19,18.0,0.0,1.0,0.0,0.0,94.7,5.3
146,Worcester - Worcester Technical High,3480605,18,10.0,2.0,3.0,2.0,1.0,66.7,33.3
147,Massachusetts,0,1792,297.0,152.0,303.0,345.0,434.0,2360.3,4239.8

In [233]:
scores = scores.drop(columns=['School Name', '% Score 1-2', '% Score 3-5'])

In [234]:
scores.dtypes

School Code      int64
Tests Taken      int64
Score=1        float64
Score=2        float64
Score=3        float64
Score=4        float64
Score=5        float64
dtype: object

In [235]:
all_merged = course_enrollment.merge(demographic, how='left', on='School Code').merge(scores, how='left', on='School Code')

In [236]:
all_merged

,School Code,District,School Name,# STUDENTS ENROLLED,ORG_CODE,STUDENTS_ENROLLED,AA,AS,HI,MR,...,ELL,FEMALE,MALE,NONBINARY,Tests Taken,Score=1,Score=2,Score=3,Score=4,Score=5
0,10015,Abington,Woodsdale Elementary School,2,NaN,NaN,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
1,10020,Abington,Beaver Brook Elementary,3,NaN,NaN,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
2,10405,Abington,Abington Middle School,348,NaN,NaN,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
3,10505,Abington,Abington High,25,NaN,NaN,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,1.0,NaN,NaN,NaN,NaN,NaN
4,30025,Acushnet,Acushnet Elementary School,105,NaN,NaN,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224,35130305,New Heights Charter School of Brockton (District),New Heights Charter School of Brockton,14,NaN,NaN,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
1225,35140305,Libertas Academy Charter School (District),Libertas Academy Charter School,70,NaN,NaN,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
1226,39010900,Greenfield Commonwealth Virtual District,Greenfield Commonwealth Virtual School,21,NaN,NaN,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
1227,39020900,TEC Connections Academy Commonwealth Virtual S...,TEC Connections Academy Commonwealth Virtual S...,681,NaN,NaN,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
1228,0,Massachusetts,Massachusetts,235211,0.0,2629.0,162,488,168,81,...,13,679,1893,0,1792.0,297.0,152.0,303.0,345.0,434.0

In [237]:
all_merged.dtypes

School Code               int64
District                 object
School Name              object
# STUDENTS ENROLLED       int64
ORG_CODE                float64
STUDENTS_ENROLLED       float64
AA                        Int64
AS                        Int64
HI                        Int64
MR                        Int64
NA                        Int64
NH_PI                     Int64
WH                        Int64
EcoDis                    Int64
SWD                       Int64
ELL                       Int64
FEMALE                    Int64
MALE                      Int64
NONBINARY                 Int64
Tests Taken             float64
Score=1                 float64
Score=2                 float64
Score=3                 float64
Score=4                 float64
Score=5                 float64
dtype: object

In [238]:
all_merged = all_merged.astype({"STUDENTS_ENROLLED": "Int64", "ORG_CODE": "Int64"})

In [239]:
all_merged["Tests Taken"] = all_merged["Tests Taken"].astype("Int64")
all_merged["Score=1"] = all_merged["Score=1"].astype("Int64")
all_merged["Score=2"] = all_merged["Score=2"].astype("Int64")
all_merged["Score=3"] = all_merged["Score=3"].astype("Int64")
all_merged["Score=4"] = all_merged["Score=4"].astype("Int64")
all_merged["Score=5"] = all_merged["Score=5"].astype("Int64")

In [240]:
all_merged.dtypes

School Code              int64
District                object
School Name             object
# STUDENTS ENROLLED      int64
ORG_CODE                 Int64
STUDENTS_ENROLLED        Int64
AA                       Int64
AS                       Int64
HI                       Int64
MR                       Int64
NA                       Int64
NH_PI                    Int64
WH                       Int64
EcoDis                   Int64
SWD                      Int64
ELL                      Int64
FEMALE                   Int64
MALE                     Int64
NONBINARY                Int64
Tests Taken              Int64
Score=1                  Int64
Score=2                  Int64
Score=3                  Int64
Score=4                  Int64
Score=5                  Int64
dtype: object

In [241]:
all_merged['SY'] = 2017

In [242]:
all_merged

,School Code,District,School Name,# STUDENTS ENROLLED,ORG_CODE,STUDENTS_ENROLLED,AA,AS,HI,MR,...,FEMALE,MALE,NONBINARY,Tests Taken,Score=1,Score=2,Score=3,Score=4,Score=5,SY
0,10015,Abington,Woodsdale Elementary School,2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2017
1,10020,Abington,Beaver Brook Elementary,3,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2017
2,10405,Abington,Abington Middle School,348,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2017
3,10505,Abington,Abington High,25,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,1,<NA>,<NA>,<NA>,<NA>,<NA>,2017
4,30025,Acushnet,Acushnet Elementary School,105,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224,35130305,New Heights Charter School of Brockton (District),New Heights Charter School of Brockton,14,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2017
1225,35140305,Libertas Academy Charter School (District),Libertas Academy Charter School,70,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2017
1226,39010900,Greenfield Commonwealth Virtual District,Greenfield Commonwealth Virtual School,21,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2017
1227,39020900,TEC Connections Academy Commonwealth Virtual S...,TEC Connections Academy Commonwealth Virtual S...,681,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2017
1228,0,Massachusetts,Massachusetts,235211,0,2629,162,488,168,81,...,679,1893,0,1792,297,152,303,345,434,2017

In [243]:
all_merged

,School Code,District,School Name,# STUDENTS ENROLLED,ORG_CODE,STUDENTS_ENROLLED,AA,AS,HI,MR,...,FEMALE,MALE,NONBINARY,Tests Taken,Score=1,Score=2,Score=3,Score=4,Score=5,SY
0,10015,Abington,Woodsdale Elementary School,2,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2017
1,10020,Abington,Beaver Brook Elementary,3,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2017
2,10405,Abington,Abington Middle School,348,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2017
3,10505,Abington,Abington High,25,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,1,<NA>,<NA>,<NA>,<NA>,<NA>,2017
4,30025,Acushnet,Acushnet Elementary School,105,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224,35130305,New Heights Charter School of Brockton (District),New Heights Charter School of Brockton,14,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2017
1225,35140305,Libertas Academy Charter School (District),Libertas Academy Charter School,70,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2017
1226,39010900,Greenfield Commonwealth Virtual District,Greenfield Commonwealth Virtual School,21,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2017
1227,39020900,TEC Connections Academy Commonwealth Virtual S...,TEC Connections Academy Commonwealth Virtual S...,681,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,2017
1228,0,Massachusetts,Massachusetts,235211,0,2629,162,488,168,81,...,679,1893,0,1792,297,152,303,345,434,2017

In [244]:
all_merged.to_csv("all_merged.csv", index=False)

In [245]:
all_merged_json = all_merged.to_json(orient='records')

In [246]:
json_file = open("all_merged.json", "w")
json_file.write(all_merged_json)
json_file.close()